<div class="wrapper">
 <div class="dashboard-main-container">
  <div class="banner-dashboard">
   <div class="current-user-card">
    <%= image_tag(@friend.avatar, :style => "width: 300px; border-radius: 50px;", :class => "card-user-pic") %>
    <div class="card-details">
     <h2><%= @friend.username.upcase %></h2>
     <h3>Tags Added: <%= @friend.tags.count %></h3>
   </div>
 </div>
</div>
<div class="friend-chat-container container-friends-only row">
 <div class="friends-zone col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 id="friend-friends"><%= @friend.username.upcase %>'S FRIENDS</h2>
  <div class="row">
   <% @friend.friendships.each do |friend| %>
   <%= link_to( profile_path(friend.id), html_options = {} ) do  %>
   <div class="cards-columns col-xs-6 col-sm-3 col-md-4 col-lg-4">
    <div class="friend-card-container ">
     <div class="friend-card-body">
      <%= image_tag(friend.avatar, :class => "friend-card-photo") %>
      <div class="friend-card-footer">
       <p>
        <%= friend.username.upcase %>
      </p>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>
</div>
<h2><%= @friend.username.upcase %>'S TOP 3 TAGS</h2>
<div class="friends-tag-row">


 <% @top_tags.each do |tag| %>
 <div class="add-tags-btn-profil" ><%= tag.name %></div>
 <% end %>
</div>
</div>
</div>

<div class="col-sm-12"  style="text-align:center; box-shadow:-1px -1px 1px black">
 <h2 style="padding:40px;"><%= @friend.username.upcase %>'S MOVIES</h2>


 <div id="movies-index" class="flex-movie">
  <% @friend.user_movies.select { |m| m.watched == false }.each do |user_movie|%>
  <div class="movie-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= user_movie.movie.poster? ? image_path(user_movie.movie.poster, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' ; %>');">
    <%= link_to "", movie_path(user_movie.movie), class: "card-link" %>
  </div>
  <% end %>
</div>


</div>
<div class="col-sm-12">
  <div class="my-watchlist">
   <h2><%= @friend.username %>s Watchlist</h2>

 </div>
</div>
</div>
