 <div class="movie-box">
  <iframe src='https://www.youtube.com/embed/<%= @movie.trailer%>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
</div>
<div class="movie-title">
</div>
<h1><%= movie.title.upcase %><small> <%=movie.year %></small></h1>
<hr>
<div class="movie-description"><p>
  <%= movie.plot %>
</p>
</div>
<%= link_to "More info", movies_show_path(movie) %>
<div>ADD TO WATCHLIST</div>

<%= simple_form_for(@movie_tag, remote: true) do |f| %>
<%= f.input :movie_id, input_html: { value: movie.id } %>

<% @tags.uniq.each do |tag| %>
  <%= f.label tag.name %>
  <%= check_box_tag "tag_ids[#{tag.id}]", tag.id,false, :name => "tag_ids[]" %>
<% end %>


<%= f.submit %>
<% end  %>
