<div class="show-container">
  <div class="movie-box">
    <iframe src='https://www.youtube.com/embed/<%= @movie.trailer%>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
  </div>
  <div class="movie-title">
    <h1><%= movie.title.upcase %><small> <%=movie.year %></small></h1>
    <div class="watchlist-button">
      <%= simple_form_for movie, :url => watch_user_movies_path, method: :post, html: { onsubmit: "watchListButton(event, this)"} do |t| %>
      <%= t.input :movie_id, as: :hidden, :input_html => { value: movie.id } %>
      <%= t.submit "Add to Watchlist", class: "watchlist-btn btn-navbar", id: "watch"%>
    <% end %>
    <div class="movie-box-buttons">
      <%= link_to "https://www.netflix.com", class: "availability-icon-netflix" do %>
        <%= image_tag url="https://res.cloudinary.com/chimeraggeddon/image/upload/v1528468187/netflix-logo-png-2616.png", height: 50 %>
      <% end %>
      <%= link_to "https://www.primevideo.com", class: "availability-icon-amazon #{@availability ? 'available' : 'unavailable'}" do %>
        <%= image_tag url="https://res.cloudinary.com/chimeraggeddon/image/upload/v1528468175/kisspng-amazon-com-gift-card-createspace-customer-service-amazon-icon-amazon-icon-5ab1b9d837e444.3509969015215968882289.png", height:60 %>
      <% end %>
    </div>
  </div>
  </div>
  <div class="movie-description"><p>
    <%= movie.plot %>
  </p>
  </div>

  <div class="infobox">
    <h4 style="text-align: center; font-weight:bolder; padding-bottom:20px; color:black;">Click tags to add to catalog</h4>
    <div class="add-tags">
      <% @tags.uniq.each do |tag| %>
        <%# f.label tag.name %>
        <%# check_box_tag "tag_ids[#{tag.id}]", tag.id,false, :name => "tag_ids[]" %>
        <%= link_to(
          tag.name,
          movie_tags_path(movie_id: movie.id, tag_id: tag.id),
          remote: true, method: :post, class: "add-tags-btn add-tag-#{tag.id} film2-genre"
        )%>
      <% end %>
    </div>
  </div>
</div>
