<%= form_tag movies_index_path, remote: true, method: :get, id: "form" do %>
  <div class="header">
    <div class="genres">
      <div class="row">
        <% (@genres).limit(12).each do |filter|%>
          <div class="col-xs-6 col-sm-3 col-md-1">
            <div class = "cards text-center">
              <button class="btn-filmy2 list-inline">
                <%= filter.name %>
                <%= check_box_tag "clicked_#{filter.class.to_s.downcase}[#{filter.id}]" %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tags">
        <div class="row">
          <% (@tags).limit(12).each do |filter|%>
            <div class="col-xs-6 col-sm-3 col-md-1">
              <div class = "cards text-center">
                <button class="btn-filmy2 list-inline">
                  <%= filter.name %>
                  <%= check_box_tag "clicked_#{filter.class.to_s.downcase}[#{filter.id}]" %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= submit_tag "filter", id: "filter-movies", style: "display: none" %>
<% end %>
