


<div class = "wrap">
  <div class = "pbox">
    <div class = "genres"> <p >GENRE</p> </div>
    <div class = "tag"> <p>TAGS</p> </div>
    <div class = "tag2"> <p>TAGS</p> </div>
  </div>
  <div>

    <div class="container">
      <div class="row">
        <%= form_tag movies_index_path, remote: true, method: :get, id: "form" do %>
          <% @tags.each do |tag|%>
            <div class="col-xs-12 col-sm-3">
              <div class = "cards text-center">

                <button class="btn-filmy"><%= tag.name %><%= check_box_tag "clicked_tag[#{tag.id}]" %></button>

              </div>
            </div>
          <% end %>
          <%= submit_tag "filter", id: "filter-movies", style: "display: none" %>
        <% end %>
      </div>
    </div>
 <!--  </div>
</div> -->



<div id="movies-index">
  <%= render "movie_list" %>
</div>




