<div class="show-wrapper">
  <div class="movie-show-container">
    <div class="movie-description-section row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="movie-box">
          <iframe src='https://www.youtube.com/embed/<%= @movie.trailer%>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        </div>
        <div class="movie-title">
        </div>
        <h1><%= @movie.title.upcase %><small><%= @movie.year %></small></h1>
        <hr>
        <div class="movie-description"><p>
          <%= @movie.plot %>
        </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="director">
          <h3>DIRECTOR</h3>
          <p><%= @movie.director %></p>
        </div>
        <div class="actor">
          <h3>ACTORS</h3>
          <p>Lorem Ipsum</p>
        </div>
        <div class="genre">
          <h3>GENRE</h3>
          <p>Lorem Ipsum</p>
        </div>
        <div class="lenght">
          <h3>LENGTH</h3>
          <% hour = @movie.runtime.to_i/60 %>
          <% minutes = @movie.runtime.to_i%60 %>
          <p><%= hour %>h <%= minutes %>m</p>
        </div>
        <div class="button-link-watch">
          <ul class="list-inline">
            <li class="watch-button">netflix</li>
            <li class="watch-button">hulu</li>
            <li class="watch-button">amazon</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="blue-bar-reviews">
    <h2>
      USERS' REVIEWS FOR <%= @movie.title.upcase %>
    </h2>
    </div>
    <div class="review-cards-container">
      <div class="movie-review-section row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-review" >
          <div class="card-review-body">
            <div class="card-review-avatar">
            </div>
            <h3 class="card-review-title">LOREM IPSUM</h3>
            <h4 class="card-review-subtitle">LOREM IPSUM</h4>
            <p class="card-review-content"> How The Internet Is Changing The Way Dogs Find Homes. In the age of the viral doggo, shelters and rescue organizations are recognizing the need to hop aboard the meme train — or risk getting left behind. </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-review" >
          <div class="card-review-body">
            <div class="card-review-avatar"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-review" >
          <div class="card-review-body">
            <div class="card-review-avatar"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-review" >
          <div class="card-review-body">
            <div class="card-review-avatar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

