<div class="show-wrapper">
  <div class="movie-show-container">
    <div class="movie-description-section row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="movie-box">
          <iframe src='https://www.youtube.com/embed/<%= @movie.trailer%>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        </div>
        <div class="movie-title">
        </div>
        <h1><%= @movie.title.upcase %><small> <%= @movie.year %></small></h1>
        <hr>
        <div class="movie-description"><p>
          <%= @movie.plot %>
        </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="director">
          <h3>DIRECTOR</h3>
          <p><%= @movie.director %></p>
        </div>
        <div class="actor">
          <h3>ACTORS</h3>
          <p>Lorem Ipsum</p>
        </div>
        <div class="genre">
          <h3>GENRE</h3>
          <p>Lorem Ipsum</p>
        </div>
        <div class="lenght">
          <h3>LENGTH</h3>
          <% hour = @movie.runtime.to_i/60 %>
          <% minutes = @movie.runtime.to_i%60 %>
          <p><%= hour %>h <%= minutes %>m</p>
        </div>
        <div class="button-link-watch">
          <ul class="list-inline">
            <li class="btn-sites">Netflix</li>
            <li class="btn-sites">Hulu</li>
            <li class="btn-sites">Amazon</li>
          </ul>
        </div>
        <div class="btn" id="add-catalogue">Add to Catalogue</div>

      </div>
    </div>
    <div class="blue-bar-reviews">
    <h2>
      USERS' REVIEWS FOR <%= @movie.title.upcase %>
    </h2>
    </div>
    <div class="review-cards-container">
      <div class="movie-review-section row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-review" >
          <% @reviews.limit(3).each do |review| %>
          <div class="card-review-body">
            <div class="card-review-avatar">
              <% review_user_id = review.user_id %>
              <% review_user = User.find_by_id(review_user_id) %>
              <%= image_tag(review_user.avatar, :class => "review_avatar") %>
            </div>
            <h3 class="card-review-title"><%= review_user.username %>s Review</h3>
            <p class="card-review-content"><%= review.text %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

