  <!-- New Navbar -->
<div class="navbar-wagon">
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "", height: 50 %>
    <% end %>
  </div>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar, height: 300, width: 400, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <img src="https://vignette.wikia.nocookie.net/tumblr-survivor-athena/images/7/7a/Blank_Avatar.png/revision/latest/scale-to-width-down/477?cb=20161204161729" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to movies_path do %>
                <i class="fa fa-search"></i> <%= t(".search", default: "Search") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <div class="sign-in-form"; style="padding-top: 20px">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
        wrapper: :inline_form, html: { class: "form-navbar form-inline"}) do |f| %>

            <%= f.input :email, required: false, autofocus: true, placeholder: "EMAIL", label: false %>


            <%= f.input :password, required: false, placeholder: "PASSWORD", label: false %>


            <%= f.button :submit, "Log in" %>

        <% end %>
      </div>
    <% end %>
  </div>
</div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "/pages/dashboard" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
          <% end %>
        </li>
        <li>
          <%= link_to "/movies/index" do %>
            <i class="fa fa-search"></i> <%= t(".search", default: "Search") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
