<div class="wrapper">
  <div class="dashboard-main-container">

    <div class="banner-dashboard">
      <div class="current-user-card">
        <%= image_tag(@user.avatar, :style => "width: 300px; border-radius: 50px;", :class => "card-user-pic") %>
        <div class="card-details">
          <h2><%= @user.username.upcase %></h2>
          <h3>Tags Added: </h3>
        </div>
      </div>

    </div>

    <div class="friend-chat-container row">

      <div class="friends-zone col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>FRIENDS</h1>
        <div class="row">
          <% current_user.friendships.each do |friend| %>

          <div class="cards-columns col-xs-6 col-sm-3 col-md-4 col-lg-3">
            <div class="friend-card-container">
              <div class="friend-card-body">
                <%= image_tag(friend.avatar, :class => "friend-card-photo") %>
                <div class="friend-card-footer">
                  <p>

                    <%= friend.username.upcase %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
      <div class="chat-zone col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <h1>CHAT</h1>
       <div class="chat-container">
         <div class="chat-title">
          CURRENTLY TALKING TO BIFF TANNEN
        </div>
        <div class="chat-containt">
        </div>
        <div class="chat-footer">

        </div>


      </div>




    </div>


  </div>





  <div class="col-sm-12">
    <h2>My Movies</h2>
    <div class="container container-my-movies">
      <div class="row">

        <% @movies.each_with_index do |movie, index| %>
        <% if index < 6 %>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 my-movie-box" id=<%= "my-movie"+index.to_s%>>
          <div class="my-movies" style="background-image:url(<%= movie.poster %>)">
          </div>
        </div>
        <% else %>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 display-none my-movie-box" id=<%= "my-movie"+index.to_s%>>
          <div class="my-movies" style="background-image:url(<%= movie.poster %>)">
          </div>
           </div>

          <% end %>
          <% end %>
          <script>
            var movie_length = "<%= @movies.length %>";
          </script>
  </div>
<div class="slidecontainer">
  <input type="range" min="0" max=<%= (@movies.length - 6) %> value="0" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div>


      </div>
    </div>























    <div class="col-sm-12">
      <div class="my-watchlist">
        <h2>My Watchlist</h2>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="search-bar">
        <div class="search">
          <%= form_tag movies_index_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "Find a movie"
            %>
            <% end %>
          </div>{}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="edit-profile">

        </div>
      </div>


