<div class="landing">
  <div class="flexbox">
    <div class="flex-item">
      <h1 class="title">Feeling<br>Filmy</h1>
    </div>
    <div class="flex-item">
      <div id="slideshow">
        <div>
          <img src="http://www.cutestpaw.com/wp-content/uploads/2016/02/Yawn..jpeg", style="width:300px">
        </div>
        <div>
          <img src="https://catvetofhebron.com/wp-content/uploads/2016/01/CATImage00034-300x200.jpg">
        </div>
        <div>
         <img src="https://www.smartpettoysreview.com/wp-content/uploads/2018/02/cat-spraying-no-more-review-99-300x200.jpg">
       </div>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <h2 style="text-align: center">WHAT WILL <br>YOU DISCOVER?</h2>
  </div>
  <div style="width:100%">
    <h3 style="text-align: center">BECAUSE BRIAN LIKED THESE FILMS, HE DISCOVERED...</h3>
  </div>
  <div>
    <ul class="liked flexbox">
      <li style="display:inline-block"><%= image_tag "#{@movie[1].poster}" %></li>
      <li style="display:inline-block"><%= image_tag "#{@movie[2].poster}" %></li>
      <li style="display:inline-block"><%= image_tag "#{@movie[3].poster}" %></li>
      <li style="display:inline-block"><%= image_tag "http://www.pngmart.com/files/3/Right-Arrow-PNG-Image.png" %></li>
      <li style="display:inline-block"><%= image_tag "#{@movie[5].poster}" %></li>
    </ul>
  </div>
  <ul class="bottom-third">
    <div class="flexbox">
        <li style="display:inline-block">
          <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
            <div class="avatar">
              <%= image_tag "#{@user.sample.avatar}" %>
            </div>
            <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
            <h4 style="text-align:center; color:white">Characters</h4>
            <div>
              <%= image_tag "#{@movie.sample.poster}" %>
              <%= image_tag "#{@movie.sample.poster}" %>
            </div>
          </div>
        </li>
        <li style="display:inline-block">
          <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
            <div class="avatar">
              <%= image_tag "#{@user.sample.avatar}" %>
            </div>
            <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
            <h4 style="text-align:center; color:white">Dialogue</h4>
            <div>
              <%= image_tag "#{@movie.sample.poster}" %>
              <%= image_tag "#{@movie.sample.poster}" %>
            </div>
          </div>
        </li>
        <li style="display:inline-block">
          <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
            <div class="avatar">
              <%= image_tag "#{@user.sample.avatar}" %>
            </div>
            <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
            <h4 style="text-align:center; color:white">Acting</h4>
            <div>
              <%= image_tag "#{@movie.sample.poster}" %>
              <%= image_tag "#{@movie.sample.poster}" %>
            </div>
          </div>
        </li>
    </div>
  </ul>
</div>
