<!-- <div style="width:100%">
  <h3 style="text-align: center">BECAUSE BRIAN LIKED THESE FILMS, HE DISCOVERED...</h3>
</div>
<div>
  <ul class="liked flexbox">
    <li style="display:inline-block"><%= image_tag "#{@movie[1].poster}" %></li>
    <li style="display:inline-block"><%= image_tag "#{@movie[2].poster}" %></li>
    <li style="display:inline-block"><%= image_tag "#{@movie[3].poster}" %></li>
    <li style="display:inline-block"><%= image_tag "http://www.pngmart.com/files/3/Right-Arrow-PNG-Image.png" %></li>
    <li style="display:inline-block"><%= image_tag "#{@movie[5].poster}" %></li>
  </ul>
</div>
<ul class="bottom-third">
  <div class="flexbox">
      <li style="display:inline-block">
        <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
          <div class="avatar">
            <%= image_tag "#{@user.sample.avatar}" %>
          </div>
          <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
          <h4 style="text-align:center; color:white">Characters</h4>
          <div>
            <%= image_tag "#{@movie.sample.poster}" %>
            <%= image_tag "#{@movie.sample.poster}" %>
          </div>
        </div>
      </li>
      <li style="display:inline-block">
        <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
          <div class="avatar">
            <%= image_tag "#{@user.sample.avatar}" %>
          </div>
          <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
          <h4 style="text-align:center; color:white">Dialogue</h4>
          <div>
            <%= image_tag "#{@movie.sample.poster}" %>
            <%= image_tag "#{@movie.sample.poster}" %>
          </div>
        </div>
      </li>
      <li style="display:inline-block">
        <div style="border-top: 15px solid pink; border-bottom: 15px solid white; background-color: navy">
          <div class="avatar">
            <%= image_tag "#{@user.sample.avatar}" %>
          </div>
          <h3 style="text-align: center; color: white"><%= @user.sample.first_name %></h3>
          <h4 style="text-align:center; color:white">Acting</h4>
          <div>
            <%= image_tag "#{@movie.sample.poster}" %>
            <%= image_tag "#{@movie.sample.poster}" %>
          </div>
        </div>
      </li>
  </div>
</ul> -->
